@media print {
  header,
  .toolbar,
  .btn,
  [x-cloak] {
    display: none !important;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 4px;
  }

  .badge {
    background: none !important;
    color: #000 !important;
    border: none !important;
  }
}
